<div class="text-3xl font-bold text-red-600">CV tuninig response</div>

<div class="flex flex-wrap -mx-4">
    {# Display Result #}
    <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
        <h2 class="text-xl font-semibold mb-2">Result</h2>
        <div class="p-4 border rounded bg-gray-100 whitespace-pre-wrap">{{ tuning_result }}</div>
    </div>
    {# Display CV Input #}
    <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
        <h2 class="text-xl font-semibold mb-2">Original CV</h2>
        <div class="p-4 border rounded bg-gray-100 whitespace-pre-wrap">{{ cv_input }}</div>
    </div>
</div>
