<form>
    <div class="text-3xl font-bold text-red-600">CV tuninig response</div>

    <div class="flex flex-wrap -mx-4">
        {# Display Result #}
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <h2 class="text-xl font-semibold mb-2">Result</h2>
            <textarea name="tuning_result" rows="10" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-64">{{ tuning_result }}</textarea>
        </div>
        {# Display CV Input #}
        <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0">
            <h2 class="text-xl font-semibold mb-2">Original CV</h2>
            <textarea name="cv_input" rows="10" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-64">{{ cv_input }}</textarea>
        </div>
    </div>

    {# Add PDF Button #}
    <div class="mt-4">
        <button hx-post="/cv-tunes/pdf" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block">
            Get the PDF
        </button>
    </div>
</form>
